*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

#img{
    height:38px;
    width:83px;
    margin-left: 100px;
    
}
#main_nav{
    display:flex;
    margin-top: 30px;
    
}
#center_nav{
    display:flex;
    align-items: center; 
    gap:40px;
    margin-left: 430px;
}
#right_nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px; 
    margin-left: 300px;
    gap: 20px;
}

#right_nav div {
    display: flex;
    align-items: center;
}

#right_nav i {
    margin-left: 10px; 
    display: flex;
}
#btn{
    border:solid;
    border-radius: 25px;
    height: 30px;
    width:70px;
}
#second_nav{
    border:solid;
    display: flex;
    margin-left:400px;
    margin-right:400px;
    border-radius:25px;
    height:50px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* position:sticky; */
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

#search{
    border:solid #E51D52;
    border-radius:50%;
    background-color:#E51D52; 
    color:white; 
    width:25px;
    height: 25px;
}
#third_nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 50px;
}

.image-container {
    width: 20%; 
    text-align: center; 
    margin: 10px; 
}

#container img {
    height: 200px;
    width: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}
#show{
    width:150px;
    height:40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border:solid;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin-left: 650px;
    position: fixed;
}
footer {
    background-color: #f7f7f7;
    padding: 40px 0;
}
  
.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}
  
.footer-section {
    flex: 1;
    margin: 0 20px;
}
  
.footer-section h4 {
    margin-bottom: 20px;
    font-size: 18px;
}
  
.footer-section ul {
    list-style-type: none;
    padding: 0;
}
  
.footer-section ul li {
    margin: 10px 0;
}
  
.footer-section a {
    text-decoration: none;
    color: #333;
}
  
.footer-section a:hover {
    text-decoration: underline;
}
  
.footer-bottom {
    padding: 20px 0;
    background-color: #eaeaea;
    margin-top: 20px;
}
  